body {
  margin: 0;
  display: contents;
  flex-wrap: wrap;
}

.header {
  display: flex;
  height: 70px;
  background-color: black;
}

.titulo {
  color: white;
  display: inherit;
  align-items: center;
  margin: 0;
  height: inherit;
}

.menu {
  display: inherit;
  height: inherit;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: inherit;
  height: inherit;
}
.menu ul li {
  height: inherit;
  margin: 0 10px;
}

.menu ul li a{
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
}


ul {
  list-style: none;
}

.container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  margin : 0 auto;
  width : 1100px;
  height: inherit;
}

.contact {
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color : #180BA4;
  color : white;
  height: 150px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../Images/twitter.svg');
}

.social-link.facebook {
  background-image: url('../Images/facebook.svg');
}

.social-link.github {
  background-image: url('../Images/github.svg');
}

.social-link.instagram {
  background-image: url('../Images/instagram.svg');
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color : white;
  height: 35px;
}

.footer p {
  margin : 0;
}