

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.inner:hover{
    cursor: pointer;
}
.card-body{
    margin-top: -12px;
}
#titulo{
    margin-bottom: 10px;
    margin-right: 90%;
}
@media screen and (max-width:800px) {
    #titulo{
        margin-right: 77%; 
    }
  }
  
